<!DOCTYPE html>
<pgm-info
        data-id="{{screen_id}}"
        data-name="{{screen_name}}"
        data-desc="{{screen_desc}}"
        data-date="{{create_date}}"
        data-version="1.0.0"
></pgm-info>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frame/top_title_button :: topTitleButtonFragment}"></th:block>

<div class="data-page">
    <div class="data-content-wrapper">
        <div class="data-content-fill">
            <div th:id="|${PGM}postForm|"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
(function () {
    const PGM = /*[[${PGM}]]*/ null;
    const listener = platform.listener[PGM];

    listener.initPgm = function () {

        // === 메인 입력 폼 ===
        listener.form.postForm = webix.ui({
            container: `${PGM}postForm`,
            view: 'dataForm',
            pgm: PGM,
            elements: [
                {{detail_fields}}
            ]
        });
    };

    /* OPTIONAL: activePgm handler start */
    // === 서브화면 진입 ===
    listener.activePgm = function (param) {
        if (param) {
            var isNew = String(param.isNew) === 'true';
            if (!isNew && param.data) {
                loadDetail(param.data);
            }
        }
    };

    function loadDetail(data) {
        const param = Object.assign({}, data);
        param.statement = "{{mapper_namespace}}.{{select_sql_id}}";
        const callback = new Callback(function (result) {
            if (result.resultCode === RESULT_CODE.OK && result.resultData) {
                listener.form.postForm.setData(result.resultData);
            }
        });
        platform.post(platform.url.selectOne, param, callback);
    }
    /* OPTIONAL: activePgm handler end */

    // === 저장 ===
    listener.button.save.click = function () {
        if (!listener.form.postForm.formValidate()) return;

        popup.confirm.show("저장 하시겠습니까?", function (confirmYn) {
            if (confirmYn) {
                const formData = listener.form.postForm.getData();
                formData.statement = "{{mapper_namespace}}.{{insert_sql_id}}";

                const callback = new Callback(function (result) {
                    if (result.resultCode === RESULT_CODE.OK) {
                        popup.alert.show("저장되었습니다.");
                    }
                });
                platform.post(platform.url.save, formData, callback);
            }
        });
    };

    /* OPTIONAL: delete block start */
    // === 삭제 ===
    listener.button.del.click = function () {
        popup.confirm.show("삭제 하시겠습니까?", function (confirmYn) {
            if (confirmYn) {
                const formData = listener.form.postForm.getData();
                formData.statement = "{{mapper_namespace}}.{{delete_sql_id}}";

                const callback = new Callback(function (result) {
                    if (result.resultCode === RESULT_CODE.OK) {
                        popup.alert.show("삭제되었습니다.");
                        listener.form.postForm.init();
                    }
                });
                platform.post(platform.url.save, formData, callback);
            }
        });
    };
    /* OPTIONAL: delete block end */

    // === 초기화 ===
    listener.button.init.click = function () {
        listener.form.postForm.init();
    };

    /* OPTIONAL: custom button handlers start */
    {{custom_button_handlers}}
    /* OPTIONAL: custom button handlers end */

    {{init_script}}

})();
</script>
</html>
